{% extends "template.twig" %}
{% block conteudo %}

<div class="container">

      <br><br><br><br><hr><br>

    <h2>Cadastro de questões</h2><br>

    <div class="cad-perg">
      
      <div class="row">

        <select class="imobBoxTipo imobBoxTipoValor btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option value="serie">Série</option>
          <option value="primeiro">1° ANO</option>
          <option value="segundo">2° ANO</option>
          <option value="terceiro">3° ANO</option>
        </select>

        <select class="imobBoxTipo imobBoxTipoValor btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option value="serie">Disciplina</option>
          <option value="primeiro">Matemática</option>
          <option value="segundo">Física</option>
          <option value="terceiro">Química</option>
        </select>

        <select class="imobBoxTipo imobBoxTipoValor btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option value="serie">Peso</option>
          <option value="primeiro">Fácil</option>
          <option value="segundo">Médio</option>
          <option value="terceiro">Difícil</option>
        </select>

        <select class="imobBoxTipo imobBoxTipoValor btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <option value="serie">Componente Curricular</option>
          <option value="primeiro">Xxxxxxxxxxxxxxxxxx xxxxxx</option>
          <option value="segundo">Yyyy</option>
          <option value="terceiro">Mdjafwjkas</option>
        </select>

      </div><br>

      <div class="row col-md-12">
        <label for="enunciado">Enunciado:</label>
        <div id="dvCenterEditor">
          <div id="bar">
            <button id="btn_new" class="glyphicon glyphicon-file" title="Novo arquivo"></button>
            
            <button id="btn_undo" class="glyphicon glyphicon-arrow-left" title="Desfazer"></button>
            <button id="btn_redo" class="glyphicon glyphicon-arrow-right" title="Refazer"></button>
            
            <select id="slFonte" class="margin" title="Fonte">
              <option value="courier">Courier</option>
              <option value="Verdana">Verdana</option>
              <option value="Arial">Arial</option>
              <option value="Segoe">Segoe</option>
              <option value="Calibri">Calibri</option>
            </select>
            
            <select id="slSize" class="margin" title="Tamanho">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
            </select>
            
            <button id="btn_bold" class="glyphicon glyphicon-bold" title="Negrito"></button>
            <button id="btn_italic" class="glyphicon glyphicon-italic" title="Itálico"></button>
            <button id="btn_underline" class="glyphicon glyphicon-text-color" title="Sublinhado"></button>
            
            <button id="btn_left" class="glyphicon glyphicon-align-left" title="Alinhar à Esquerda"></button>
            <button id="btn_center" class="glyphicon glyphicon-align-center" title="Centralizar"></button>
            <button id="btn_right" class="glyphicon glyphicon-align-right" title="Alinhar à Direita"></button>
            <button id="btn_justify" class="glyphicon glyphicon-align-justify" title="Justificar"></button>
            
            <button id="btn_line" class="glyphicon glyphicon-minus" title="Adicionar linha"></button>
            <button id="btn_unordered" class="glyphicon glyphicon-th-list" title="Marcador"></button>
            <button id="btn_ordered" class="glyphicon glyphicon-list-alt" title="Numeração"></button>
            
            <button id="btn_link" class="glyphicon glyphicon-link" title="Adicionar link"></button>
            
              <div class="btn-group">
                <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"></a>
                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
              </div>

          </div>
          
          <iframe id="Editor" name="Editor" ></iframe>
          <textarea id="txtEditor" style="display:none;"></textarea>
        </div><br><br><br>
      </div>
    
    <div class="row">
    <div class="col-md-1">
      <ul>
        <li><input type="radio" name="opcao" value="a" id="basic-addon1"/></li><br>
        <li><input type="radio" name="opcao" value="b" id="basic-addon2"/></li><br>
        <li><input type="radio" name="opcao" value="c" id="basic-addon3"/></li><br>
        <li><input type="radio" name="opcao" value="d" id="basic-addon4"/></li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">a)</span>
        <input type="text" class="form-control" placeholder="Alternativa a)" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">b)</span>
        <input type="text" class="form-control" placeholder="Alternativa b)" aria-describedby="basic-addon2">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">c)</span>
        <input type="text" class="form-control" placeholder="Alternativa c)" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon4">d)</span>
        <input type="text" class="form-control" placeholder="Alternativa d)" aria-describedby="basic-addon4">
      </div>

      </div>
    </div><br><br>

    <button class="glyphicon glyphicon-ok btn btn-primary" title="Cadastrar questão"></button>

  </div><br><br>
</div>
{% endblock %}