{% extends "template.twig" %}
{% block conteudo %}
<br><br><br>
    <!--- Conteúdo -->
    <div class="container">

      <h1 align="center"><b>My Syllabus</b></h1><h2 align="center">Tudo o que você precisa pra mandar bem na escola é do nosso plano de estudos</h2>
      <br><br><br><hr>
      
    <div class="row leader">

      <div class="col-md-3">
        <h4>Você é professor?</h4>
        <p>Ajude nossa comunidade com questões e explicaçõese leve ganho de aprendizado aos seus alunos</p>
        <button class="btn btn-primary">Comece agora</button>
      </div>

      <div class="col-md-3">
        <h4>Você é estudante?</h4>
        <p>O plano de estudo mais confiável para você. Tenha os dados que você precisa para potencializar seu aprendizado</p>
        <a href="/cadastro?teste=1"><button class="btn btn-primary">Comece agora</button></a>
      </div>

    </div><br><br><hr>

  <div class="container">
    <div class="navbar separador">
      <div class="col-md-1"><img class="img-logo" src="assets/img/logo.png"></div>
      
      <h4>O My Syllabus é um site com simulados e fórum para dúvidas que ajuda muitos estudantes a se prepararem para as matérias do ensino médio e Enem</h4>
      
      <button class="btn btn-primary btn-index" >CADASTRO GRATUITO</button>
    </div>
  </div>

      <div class="row">
      <div class="col-md-6">
        <div class="media">
        <div class="media-left media-middle">
          <video width="520" height="370" controls="controls">
            <source src="assets/video.mp4" type="video/mp4">
            <object data="" width="520" height="370">
              <embed width="520" height="370" src="assets/video.mp4">
            </object>
          </video>
        </div>
        </div>
      </div>

      <div class="col-md-6">
        <br><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel volutpat massa. Suspendisse id arcu in odio efficitur ultricies. Donec sed ante dui. Nulla facilisi. Suspendisse vitae ultrices mauris. Donec varius tempus tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed lacinia dolor. Integer aliquam purus id est faucibus mattis. Fusce dui orci, suscipit vel orci in, maximus scelerisque ex. Aliquam sit amet libero varius, suscipit lectus eget, blandit felis. Aliquam ac porta velit. Nam tempor diam a nulla viverra, vel dignissim ipsum lacinia. Ut sit amet augue non nisl auctor pellentesque et et nunc. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere id quam eget scelerisque. Fusce ornare sed lectus in finibus. Sed pulvinar, tortor aliquam convallis congue, mauris mauris rutrum tortor, ac volutpat velit velit sed nibh. Aliquam varius ultricies turpis a ultricies.</p>
      </div>
      </div>

        <br><hr><br><br>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar hendrerit vulputate. Mauris non nibh magna. Nam feugiat odio vitae quam tempus, in tempor sapien rhoncus. Cras egestas erat id justo tempor iaculis. Nulla erat velit, laoreet ut sapien at, faucibus ullamcorper libero. Sed nunc augue, aliquam vitae feugiat sit amet, ornare id lorem. Praesent tortor justo, facilisis hendrerit euismod ac, efficitur fringilla dui. Quisque posuere sagittis sapien, ac bibendum massa vulputate sit amet. Integer eget elit tincidunt, pulvinar sapien eget, tristique purus. Aenean blandit metus dui, ut facilisis sapien imperdiet a.</p>

        <p>Maecenas euismod at turpis ultricies lobortis. Ut et lorem lobortis nunc varius rutrum ut sed diam. Suspendisse et erat fermentum enim accumsan auctor a a ex. Mauris felis leo, euismod ac lorem vitae, accumsan aliquam augue. Proin finibus enim non placerat finibus. Curabitur eget gravida diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ultrices scelerisque leo ac mollis. Ut sit amet blandit diam, in blandit ex. Etiam vel porta purus, ac scelerisque lorem. Cras nec dapibus libero. Proin lobortis vitae metus quis mollis. Phasellus commodo, mi eget mattis pharetra, elit enim porttitor libero, sit amet tincidunt nulla arcu vitae mi.</p>

        <p>Pellentesque sed odio malesuada, porttitor nisl a, varius nisl. Etiam ut malesuada nisl. Pellentesque vel ex nibh. Ut tincidunt, mi ut tempus dapibus, leo felis porta ipsum, eget eleifend augue ex vitae sem. Suspendisse et ligula tempus, finibus sapien eget, bibendum tellus. Aenean vitae mollis nisi, id porttitor enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In vulputate lorem nisi, et venenatis risus aliquam sed. Vivamus sagittis sapien ac lorem gravida, at dignissim enim iaculis.</p>

        <br><br><hr>

      </div>
{% endblock %}
