{% extends "template.twig" %}
{% block conteudo %}


    <!--- Conteúdo -->
    <div class="container">

      <br><br><br><br><hr>

      <div class="row">
        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Matemática</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Português</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Filosofia</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Sociologia</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Física</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Quimica</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Biologia</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Geografia</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>História</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Inglês</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Espanhol</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>

        <button class="btn btn-icone" title="Iniciar Teste">
          <div class="col-sm-2 icon">
            <h2>Artes</h2>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </button>
      </div><br><br><hr><br><br>

  </div>
{% endblock %}