{% extends "template.twig" %}
{% block conteudo %}
    <!--- Conteúdo -->
   <div class="container">

      <br><br><br><br><hr>

      
    <div class="btn-group dropup">
      <button type="button" class="btn btn-default">Dropup</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>Matemática</li>
      </ul>
    </div>



  </div>

{% endblock %}