{% extends "template.twig" %}
{% block conteudo %}

    <!--- Conteúdo -->
    <div class="container">
    <div class="apresentacao">

      <h1 align="center"><b>My Syllabus</b></h1><h2 align="center">Tudo o que você precisa pra mandar bem na escola é do nosso plano de estudos</h2>
      <br><br><br><hr>
    </div>
      
    <div class="row leader">

      <div class="col-md-3">
        <h4>Você é professor?</h4>
        <p>Ajude nossa comunidade com questões e explicações. Leve ganho de aprendizado aos seus alunos</p>
        <button class="btn btn-primary">Comece agora</button>
      </div>

      <div class="col-md-3">
        <h4>Você é estudante?</h4>
        <p>O plano de estudo mais confiável para você. Tenha os dados que você precisa para potencializar seu aprendizado</p>
        <a href="/cadastro?teste=1"><button class="btn btn-primary">Comece agora</button></a>
      </div>

    </div><hr>

      <div class="row">
      <div class="col-md-6">
        <div class="media">
        <div class="media-left media-middle">
          <video width="520" height="370" controls="controls">
            <source src="assets/video.mp4" type="video/mp4">
            <object data="" width="520" height="370">
              <embed width="520" height="370" src="assets/video.mp4">
            </object>
          </video>
        </div>
        </div>
      </div>

      <div class="paragrafo">  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar hendrerit vulputate. Mauris non nibh magna. Nam feugiat odio vitae quam tempus, in tempor sapien rhoncus. Cras egestas erat id justo tempor iaculis. Nulla erat velit, laoreet ut sapien at, faucibus ullamcorper libero. Sed nunc augue, aliquam vitae feugiat sit amet, ornare id lorem. Praesent tortor justo, facilisis hendrerit euismod ac, efficitur fringilla dui. Quisque posuere sagittis sapien, ac bibendum massa vulputate sit amet. Integer eget elit tincidunt, pulvinar sapien eget, tristique purus. Aenean blandit metus dui, ut facilisis sapien imperdiet a.</p>

        <p>Maecenas euismod at turpis ultricies lobortis. Ut et lorem lobortis nunc varius rutrum ut sed diam. Suspendisse et erat fermentum enim accumsan auctor a a ex. Mauris felis leo, euismod ac lorem vitae, accumsan aliquam augue. Proin finibus enim non placerat finibus. Curabitur eget gravida diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ultrices scelerisque leo ac mollis. Ut sit amet blandit diam, in blandit ex. Etiam vel porta purus, ac scelerisque lorem. Cras nec dapibus libero. Proin lobortis vitae metus quis mollis. Phasellus commodo, mi eget mattis pharetra, elit enim porttitor libero, sit amet tincidunt nulla arcu vitae mi.</p>
      </div>

      </div>
      </div>
{% endblock %}
