{% extends 'template2.twig' %}
{% block conteudo %}


    <!--- Conteúdo -->
    <div class="container">

    <h3>Escolha uma matéria</h3><hr>
  
      <div class="row">
        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Matemática</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Português</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Filosofia</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Sociologia</h4>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Física</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Quimica</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Biologia</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Geografia</h4>
          </div>
        </button>
      </div>

      <div class="row">
        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>História</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Inglês</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Espanhol</h4>
          </div>
        </button>

        <button class="btn-materia" title="Iniciar Teste">
          <div class="col-sm-2">
            <h4>Artes</h4>
          </div>
        </button>

      </div><hr class="rodape">

  </div>

{% endblock %}