{% extends "template.twig" %}
{% block conteudo %}

<div class="container">

      <br><br><br><br><hr>

      <div class="row">

        <div class="col-sm-5 login"><br><br>
          <h3 align="center">Login</h3><br>
          

          <form>

            <div class="form-group">
              <label for="user">Usuário</label>
              <input type="text" id="user" class="form-control">
            </div><br>

            <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" id="senha" class="form-control">
            </div><br><br>

            <button type="submit" class="btn btn-custom btn-login" align="center">Entrar</button>

          </form><br>

          <h5 align="center">Não possui uma conta? <a href="cadastro.html">Cadastrar</a></h5>

        </div>

      </div>

    </div>
{% endblock %}