<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>My Syllabus</title>
    <link rel="icon" href="img/aba.png"/>
    
    <link href="css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

  <!--- Barra de Navegação ---->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="perfil.html">Perfil</a></li>
    </ul>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper navbar">
          <div class="container">
            <a href="#" class="brand-logo"><img src="img/logo.png" class="img-logo"></a>

            <div class="foto">
              <i class="large material-icons hide-on-small-only">perm_identity</i>
            </div>
            
            <a data-activates="dropdown1" class="dropdown-button button-collapse hide-on-large-only"><i class="material-icons">dehaze</i></a>

          </div>
        </div>
      </nav>
    </div>


    <!--- Conteúdo -->
    <div class="container">

      <h3>Questionário de</h3><br><!--Nome da matéria-->

      <div class="box-perg z-depth-3">

        <div class="row"> 

          <div class="col-md-2">
            <h4>Questão</h4><!--colocar o numero da questão-->
            <h6>Professor: </h6><!--colocar o nome do professor-->
          </div>
        
        <button class="btn btn-denuncia" title="Denúncia"><i class="large material-icons">report</i></button>
        
            
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel volutpat massa. Suspendisse id arcu in odio efficitur ultricies. Donec sed ante dui. Nulla facilisi. Suspendisse vitae ultrices mauris. Donec varius tempus tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce sed lacinia dolor. Integer aliquam purus id est faucibus mattis. Fusce dui orci, suscipit vel orci in, maximus scelerisque ex. Aliquam sit amet libero varius, suscipit lectus eget, blandit felis. Aliquam ac porta velit. Nam tempor diam a nulla viverra, vel dignissim ipsum lacinia. Ut sit amet augue non nisl auctor pellentesque et et nunc. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere id quam eget scelerisque. Fusce ornare sed lectus in finibus. Sed pulvinar, tortor aliquam convallis congue, mauris mauris rutrum tortor, ac volutpat velit velit sed nibh. Aliquam varius ultricies turpis a ultricies.</p>

          <form action="#">
            <p>
              <label>
                <input name="opcao" type="radio" value="a" checked />
                <span>a)</span>
              </label>
            </p>

            <p>
              <label>
                <input name="opcao" type="radio" value="b" checked />
                <span>b)</span>
              </label>
            </p>

            <p>
              <label>
                <input name="opcao" type="radio" value="c" checked />
                <span>c)</span>
              </label>
            </p>

            <p>
              <label>
                <input name="opcao" type="radio" value="d" checked />
                <span>d)</span>
              </label>
            </p>
          </form>

        </div>
      </div>
    </div><br>


  <!---- Rodapé ------>
   <footer class="page-footer blue darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <div class="col m3">
              <a href="#" class="navbar-brand">
                <img class="img-logo" src="img/logo.png">
              </a> 
              <a class= "navbar-brand white-text" href= "#" >My Syllabus</a>
            </div>
          </div>

          <div class="col l4 offset-l2 s12">
            <ul class="nav">
              <li class="item-rede-social"> <a href="#"><img src="img/facebook.png"/> </a></li> 
              <li class="item-rede-social"> <a href="#"><img src="img/twitter.png"/>  </a></li>
              <li class="item-rede-social"> <a href="#"><img src="img/instagram.png"/> </a></li>  
            </ul>
          </div>
        </div>
      </div>
          
        <div class="footer-copyright">
          <div class="container">
            © Todos os direitos reservados aos alunos de TI Virgílio
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
    </footer> 
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
  </body>
</html>