<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>My Syllabus</title>
    
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class= "navbar navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
            <span class="sr-only">Alterar Menu</span>
            <span class="glyphicon glyphicon-menu-down alterar"></span>
          </button>

          <a href="#" class="navbar-brand">
            <img class="img-logo" src="assets/img/logo.png">
          </a> 
        </div>

        <div class="collapse navbar-collapse" id="barra-navegacao">
          <ul class="nav navbar-nav navbar-right" >
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>


      </div> 
    </div>
    {% block conteudo %}

    {% endblock %}

<div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-2">
          <a href="#" class="navbar-brand">
            <img class="img-logo" src="assets/img/logo.png">
          </a> 
          <a class= "navbar-brand" href= "#" >My Syllabus</a>
        </div>
        
        <div class="col-md-10">
          <ul class="nav">
            <li class="item-rede-social"> <a href="#"><img src="assets/img/facebook.png"/> </a></li> 
            <li class="item-rede-social"> <a href="#"><img src="assets/img/twitter.png"/>  </a></li>
            <li class="item-rede-social"> <a href="#"><img src="assets/img/instagram.png"/> </a></li>  
          </ul>
        </div>
      
      </div>
    </div>
  </div>
   
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>