body{
	font-family:  Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

.navbar-brand{
	padding: 5px 15px;
	color: white;
}

.navbar, .footer{
	background-color: #0000CD;
}

.navbar-nav>li>a, .rodape .nav a{
	color: white;
}

.navbar-nav>li>a:hover, .rodape:hover .nav a:hover{
	color: blue;
}

.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url("../img/logo.png") no-repeat;
}

.btn-custom{
	color: white;
	border-raduis: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	margin: 0px 15px;
	text-transform: uppercase; 
	transition: background 0.4s, color 0.4s;
}

.btn-cadastro{
	border: 1px solid blue;
	background-color: white;
}

.btn-cadastro:hover{
	background-color: blue;
	color: white;
}

.item-rede-social{
	float: right;
}

.cadastro{
	width: 1700px;
	height: 600px;
	padding-left: 25%;
}

.login{
	width: 1700px;
	height: 470px;
	padding-left: 25%;
}

.foto{
	float: right;
	font-size: 230%;
	color: white;
}

.alterar{
	color: white;
}

.cad-perg{
	/*border-color: black;
	height: 400px;
	width: 1000px;*/
	background-color: white;
 	text-align:center;
 	border: 1px solid;
 	border-color: black;
 	padding: 50px;
 	height: relative;
}

.caixa-texto{ 
	width: 1000px; 
	height: 50px; 
	resize: none;
}

ul{
    list-style-type:none;
}

p{
	text-align: justify;
}




