body{
	font-family:  Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

html, body {
	height:100%;
}

.container{
	min-height:100%;
    position:relative;
}

/*--------------- Barra de navegação -----------*/
.navbar-brand{
	margin-bottom: 2px;
}

.navbar{
	background-color: #337AB7;
}

.navbar-nav>li>a, .rodape .nav a{
	color: white;
}

.navbar-nav>li>a:hover, .rodape:hover .nav a:hover{
	color: #0000CD;
}

.img-logo{
	height: 50px;
	width: 70px;
	display: block;
	margin-top: 6px;
}

.foto{
	float: right;
	font-size: large;
	color: white;
	margin-top: 2%;
}
/*----------------------------------------------*/

/*---------------- Botões ----------------*/
.btn-custom{
	color: #0000CD;
	border-raduis: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
}

.btn-custom:hover{
	color: white;
}

.btn-cadastro{
	background-color: white;
	margin-left: 35%;
}

.btn-login{
	background-color: white;
	margin-left: 35%;
}

.btn-index{
	margin-left: 42%;
}

.btn-materia{
	background-color: #421467;
	width: 220px;
	height: 130px;
	margin: 30px 5px 20px 0;
	margin-left: 1.2%;
	color: white;
	text-shadow: 2px 2px 2px black;
	padding: 2%;
	box-shadow: 1px 1px 1px #0000CD;
}

.btn-materia:hover{
	background-color: #2c064a;
	color: white;
}

.btn-denuncia{
	color: white;
	background-color: #0000CD;
	margin-right: -90%;
	margin-top: -20%;
}

/*-----------------------------------------*/

.leader{
	transform: translateX(25%);
}

.cadastro{
	height: 650px;
	margin: 5% 20% 0 20%;
	padding: 4%;
	background: #421467;
	color: white;
}

.login{
	height: 470px;
	margin: 5% 25% 0 25%;
	padding: 4%;
	background: #421467;
	font-color: white;
	color: white;
}


.cad-perg{
	height: 800px;
	width: relative;
	background-color: white;
 	text-align:center;
 	margin-top: 35px;
 	padding: 20px;
}

.card{
	height: 500px;
	width: relative;
	background-color: white;
 	margin-top: 55px;
 	padding: 5%;
}

.box-perg{
	height: relative;
	width: relative;
	background-color: white;
 	text-align:center;
 	padding: 50px;
}

.caixa-texto{ 
	width: 1000px; 
	height: 50px; 
	resize: none;
}

ul{
    list-style-type:none;
}

p{
	text-align: justify;
	font-size: 115%;
}

hr{
	margin: 0 -1.5% 0 -1.5%;
}

.titulo{
	margin: 12% -1.5% 0 -1.5%;
}

.rodape{
	margin: 3% -1.5% 5% -1.5%;
}


.linha{
	background-color: black;
	width: 1px;
	height: 240px;
	float: left;
	margin: 0 15px 0 15px;
}

.icon{
	color: white;
	float: center;
	text-shadow: 1px 1px #0000CD;
}

.media{
	margin-top: 14%;
}

/*-------- Rodapé ---------------*/
footer{
	position:absolute;
    width:100%;
    background: #337AB7;
}

.item-rede-social{
	float: right;
	width: 20%; 
	height:20%;
}
/*-------------------------------*/

