body{
	font-family:  Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

html, body {
	height:100%;
}

.container{
	min-height:100%;
    position:relative;
}

/*--------------- Barra de navegação -----------*/
.navbar-brand{
	margin-bottom: 2px;
}

.navbar, .footer{
	background-color: #0000CD;
}

.navbar-nav>li>a, .rodape .nav a{
	color: white;
}

.navbar-nav>li>a:hover, .rodape:hover .nav a:hover{
	color: #0000CD;
}

.img-logo{
	height: 50px;
	width: 70px;
	display: block;
	margin-top: -12px;
}

.foto{
	float: right;
	font-size: 230%;
	color: white;
	margin-top: 1%;
}
/*----------------------------------------------*/

/*---------------- Botões ----------------*/
.btn-custom{
	color: #0000CD;
	border-raduis: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
}

.btn-custom:hover{
	color: white;
}

.btn-cadastro{
	border: 1px solid blue;
	background-color: white;
	margin-left: 35%;
}

.btn-cadastro:hover{
	background-color: #0000CD;
	margin-left: 0;
	width: 100%;
	transition: background 2s;
}

.btn-login{
	border: 1px solid blue;
	background-color: white;
	margin-left: 39%;
}

.btn-login:hover{
	background-color: #0000CD;
	margin-left: 0;
	width: 100%;
	transition: background 2s, width 5s;
}

.btn-index{
	margin-left: 42%;
}

.btn-icone{
	background-color: #CD2990;
	width: 200px;
	height: 150px;
	margin: 35px -4px 35px -4px;
	margin-left: 6.5%;
	color: white;
	padding: 2%;
	border-radius: 3%;
	-webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	box-shadow: 2px 2px 2px black;
}

.btn-denuncia{
	color: white;
	background-color: #0000CD;
	margin-right: -80%;
	margin-top: -17%;
}

/*-----------------------------------------*/

.leader{
	transform: translateX(25%);
}

.cadastro{
	height: 700px;
	margin-left: 30%;
	background: linear-gradient(#0000CD, #CD2990);
	opacity: 0.9;
	border-radius: 3%;
	-webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	color: white;
}

.login{
	height: 470px;
	margin-left: 30%;
	background: linear-gradient(#0000CD,#CD2990);
	opacity: 0.9;
	border-radius: 3%;
	-webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	font-color: white;
	color: white;
}

.alterar{
	color: white;
}

.cad-perg{
	height: 700px;
	width: relative;
	background-color: white;
 	text-align:center;
 	border: 2px solid;
 	border-color: #CD2990;
 	padding: 50px;
}

.box-perg{
	height: 520px;
	width: relative;
	background-color: white;
 	text-align:center;
 	border: 2px solid;
 	border-color: #CD2990;
 	padding: 50px;
}

.caixa-texto{ 
	width: 1000px; 
	height: 50px; 
	resize: none;
}

ul{
    list-style-type:none;
}

p{
	text-align: justify;
}

.separador{
	background-color: #CD2990;
	padding: 3% 6.5% 3% 8%;
	margin: 1% -7.8% 3% -10.5%;
}

.card{
	background-color: #CD2990;
	width: 400px;
	height: 300px;
	color: white;
	padding: 2%;
	border-radius: 4%;
	-webkit-border-radius: 4%;
	-moz-border-radius: 4%;
	box-shadow: 1.5px 1.5px 1.5px black;
}

.

.icon{
	font-size: 170%;
	float: center;
	text-shadow: 1px 1px black;
}

/*-------- Rodapé ---------------*/
.footer{
	position:absolute;
    width:100%;
}

.item-rede-social{
	float: right;
}
/*-------------------------------*/

